* {
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

main{
    display:flex;
    align-items: center;
    margin: 1rem;
    flex: 1;
}


.buttons{
    margin-right: 1.5em;
}

button{
    margin:1em;
}

.board{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    gap:0px;
}



.square{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square p{
    font-size: xx-large;
}

.selectable:hover{
    border:  1px solid red;
    scale: 1.05;
}

footer{
    display:flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
}

a{
    color: white;
    text-decoration: none; 
}

a:visited {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    main{
        flex-direction: column;
        flex:1;
    }
}
